/*globales --------------------------------------------------------------------*/

@font-face {
    font-family: 'CourierNew';
    src: url('webfont/CourierNewPSMT.woff');
}/* No funciona */
@font-face {
    font-family: 'CourierNewBold';
    src: url('webfont/CourierNewPS-BoldMT.woff');
}
@font-face {
    font-family: 'CourierNewPS-ItalicMT';
    src: url('webfont/CourierNewPS-ItalicMT.woff');
}
@font-face {
    font-family: 'CourierNewPS-BoldItalicMT';
    src: url('webfont/CourierNewPS-BoldItalicMT.woff');
}
@font-face {
    font-family: 'JosefinSans-SemiBold';
    src: url('webfont/JosefinSans-SemiBold.woff');
}
@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('webfont/JosefinSans-Regular.woff');
}
@font-face {
    font-family: 'JosefinSans-Light';
    src: url('webfont/JosefinSans-Light.woff');
}
@font-face {
    font-family: 'JosefinSans-Bold';
    src: url('webfont/JosefinSans-Bold.woff');
}

html, body { margin:0;padding:0; }
body {
    background-color:#FFFFFF;
    /* font-family: 'CourierNewPSMT'; */
}
/*globales --------------------------------------------------------------------*/

/*correcciones bootstrap ------------------------------------------------------*/
.cb-ajustado [class*="col-"] { padding:0;margin:0; }
/*correcciones-----------------------------------------------------------------*/
/*Ampliacion bootstrap -------------------------------------------------------*/
.w-15{ width: 15%!important; }
.w-20{ width: 20%!important; }
/*Ampliacion bootstrap -------------------------------------------------------*/

.text-color-marron-claro{
    color: #D1867D;
}

.layout-table{ min-width: 100%; max-width: 100%; margin-left: 0 !important; flex: 1 1 100%; }
.layout-table-item{ position: relative; display: inline-block; width: 100%; box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 1); border-radius: 5px; margin: 25px 0; background-color: #fff; overflow: unset; }
.layout-table-header{ background: linear-gradient(60deg, #57666d,#607B8B); margin: -20px 15px 0; border-radius: 3px; padding: 15px; color: #ffffff; display: flex; }
.layout-table-content{ background-color: #fff; padding: 15px 20px; }
#paginacion{ display: flex; justify-content: center; }

.check{
    padding: 0;
    border: .25rem solid #6f859c;
}
.color-text{
    color: #44717a;
}

/* Botón toggle desactivar tienda */
.switch { position: relative; display: inline-block; width: 60px; height: 34px; }
.switch input { display:none; }
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
.slider:before { position: absolute; content: ""; height: 26px; width: 26px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s; }
input[check="check"] + .slider { background-color: #2196F3; }
input:focus + .slider { box-shadow: 0 0 1px #2196F3; }
input[check="check"] + .slider:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); }
.slider.round { border-radius: 34px; z-index: 2; }
.slider.round:before { border-radius: 50%; }
.slider.round label.on { position: relative; top: 4px; left: 8px; z-index: -1; font-weight: bold; color: #fff; font-size: 12px; }
.slider.round label.off { position: relative; top: 4px; right: -12px; z-index: -1; font-weight: bold; color: #fff; font-size: 12px; }


/* 13/09/2018 */

.max-64{
    max-height: 64px;
}

.menu-sesnines{
    border-bottom: 1px solid;
}

.menu-sesnines ul{
    list-style: none;
    text-align: center;
    padding-left: 0;
}
.menu-sesnines ul li a{
    color: #000;
    font-family: 'JosefinSans-Light';
    font-size: 1.2rem;
}

.menu-sesnines ul li a:hover{
    color: #000;
    font-family: 'JosefinSans-Bold';/*AQUI*/
}

li.nav-item div.info div.texto p{
    font-family: 'CourierNew';
    font-size: 0.85rem;
}
div.blq_exp_ps h5.titulo{
    font-family: 'CourierNewBold';
}
div.blq_exp_ps p.texto{
    font-family: 'CourierNew';
}
img.img-rs{
    max-height: 24px;
    max-width: 28px;
}
.cuenta{
    display: flex;
}
.cuenta a p{
    font-family: 'JosefinSans-Light';
    color: #000;
}
.pregunta h1.titulo-sn{
    font-family: 'JosefinSans-Light';
    font-size: 2.5rem;
    text-align: center;
}
h3.titulo-sn{
    font-family: 'JosefinSans-Light';
}
.blq_2 p{
    font-family: 'CourierNew';
}
.cuenta>p.ln {
    border-right: 1px solid;
    border-color: #6F859C;
    padding-right: .5rem;
    margin-right: .5rem;
}
.redes-sociales{
    margin-right: 1rem;
}
nav ul li a{
    color: #6f859c;
}
img.logo-rs {
    display: inline;
    /* height: 16px; */
    margin-left: .5rem;
    margin-right: .5rem;
}
.cuenta a{
    margin-left: .5rem;
    margin-right: .5rem;
    color: #6F859C;
}
div.ln{
    border-right: 2px solid;
    border-color: #6F859C;
}
.info-sesnines ul{
    padding-left: 0;
}
.info-sesnines ul li{
    list-style: none;
    margin-top: 1.2rem;
}
.info-sesnines ul li div.info{
    display: flex;
}
.info-sesnines ul li div.info .img{
    padding-left: 0rem;
}
.info-sesnines ul li div.info img{
    width: 48px;
    max-width: 48px;
}

.info-sesnines ul li div.info .texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
}
label.linea {
    content: "";
    width: 30px;
    border-bottom: 2px solid;
    border-color: #D1867D;
    margin-left: auto;
    margin-right: auto;
    margin-top: .8rem;
}
#carouselSesninesHome div.carousel-inner{
    max-height: 650px;
}
#carouselBodega div.carousel-inner{
    max-height: 650px;
}
div.blq_1 .titulo-sesnines{
    border-bottom: 1px solid #000;
    text-align: right;
}
.o-100{
    opacity: 1;
}
.img-fluid-personalizado{
    max-width: 80%;
    height: auto;
}
.o-80{
    opacity: 0.8;
}
div.blq_1 .titulo-sesnines a{
    color: #000;
    text-decoration: none;
}

div.blq_1 .titulo-ps{
    border-bottom: 1px solid #000;
    text-align: left;
}
div.blq_1 .titulo-ps a{
    color: #000;
    text-decoration: none;
}
div.blq_3 .blq_exp_ps{
    text-align: center;
    opacity: 0.8;
}
div.blq_3 .blq_exp_ps h5.titulo{
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}
div.blq_3 .blq_exp_ps p.texto{
    font-weight: normal;
}
button.btn-sesnines-empezamos{
    background-color: #6f859c;
    color: #FFF;
    display: flex;
    font-family: 'CourierNewBold';
}
.tu-ps{
    /* font-size: calc(1rem + 3vw); */
    font-family: 'CourierNewBold';
    color: #6f859c;
}
.w-70{
    width: 70%!important;
}
.w-30{
    width: 30%!important;
}
a.carousel-control-prev-mod{
    width: 5%;
}
a.carousel-control-next-mod{
    width: 5%;
}
.contenedor{
    display: inline-flex;
}

div.blq_3 .blq_exp_ps h5.titulo{
    font-size: .8rem;
}
div.blq_3 .blq_exp_ps p.texto{
    font-size: .7rem;
}
.logo-sesnines {
    max-width: 192px;
}

.carousel-sesnines-rsp1{
    width: 45%;
}
.carousel-sesnines-rsp2{
    width: 55%;
}

.cat_inspirate .imagen {
    position: relative;
    text-align: center;
}

.cat_inspirate .imagen .texto {
    position: absolute;
    bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: center;
    padding: .7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* .cat_inspirate .imagen .texto h3{
    font-size: 1rem;
} */
/* .carousel-item-tuopinas{
    padding: 3rem;
    
    min-height: 300px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

} */
.carousel-item-next, .carousel-item-prev, .carousel-item.active{
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.blq_centrado{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
}
.blq_centrado h1.titulo{
    font-weight: bold;
    font-family: 'JosefinSans-Bold';
}
.blq_centrado h4.texto-nrm{
    text-decoration: none;
    font-family: 'JosefinSans-Light';
}
.blq_centrado h4.texto-nrm>a{
    color: #000;
}
.newsletter{
    background-color: #b0b9c6;
    overflow: hidden;
}
h1.news{
    font-size: 2rem;
}
p.news {
    font-size: .9rem;
}
.news{
    font-family: 'CourierNewBold';
    color: #fff;
}
#mail-newsletter {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    border-color: white;
    min-width: 310px;
}
#mail-newsletter::placeholder {
    color: white;
    font-family: 'CourierNewPS-ItalicMT';
}
#btn-mail-newsletter {
    background-color: white;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    color: #c2c5cc;
    font-family: 'CourierNewPS-ItalicMT';
}
p#acepto-terminos {
    margin-top: .3rem;
    display: flex;
    align-items: center;
    font-size: .8rem;
    color: white;
    font-family: 'CourierNewPS-ItalicMT';
}

.menu-sesnines-footer ul{
    list-style: none;
    text-align: left;
    padding-left: 0;
}
.menu-sesnines-footer ul li a{
    color: #b0b9c6;
    font-family: 'JosefinSans-Light';
}

.menu-sesnines-footer ul li a:hover{
    font-weight: bold;
    font-size: 1.1rem;
}
.logo-sesnines-footer{
    max-height: 128px;
}
#frmBuscarfooter input[type="text"]{
    background-color: transparent;
    border-width: 1px;
    border-color: #b0b9c6;;
    border-style: solid;
    border-radius: 5px;
    font-family: 'JosefinSans-Light';
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    min-width: 200px;
}
.fondo-1{
    background-image: url(../img/slider1.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
#frmBuscarfooter button[type="submit"]{
    background-color: transparent;
    border-color: transparent;
    border-width: 0px;
    background: url(../img/sns_icono__lupaazul.svg) no-repeat;
    background-size: contain;
    min-width: 32px;
    min-height: 32px;
}
#frmBuscarfooter input[type="text"]::placeholder{
    color: #b0b9c6;
    text-align: center;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    height: 40px;
}
.carousel-control-prev-icon{
    background-image: url('../img/izquierda.png');
}
.carousel-control-next-icon{
    background-image: url('../img/derecha.png');
}
.brd-right{
    border-right: 2px solid white;
}
.footer{
    background-color: #f2f2f2;
    color: #b0b9c6;
}
.texto-slider{
    font-family: 'CourierNewPS-BoldItalicMT';
}
p.texto-slider+h4{
    font-family: 'CourierNewPS-BoldItalicMT';
    /* font-size: 1.1rem; */
}
.carousel-sesnines-rsp1{
    background-color: #f1e8e1;
}
.slider-doble{
    height: 100vh;
}
h3.h3-enlace{
    font-family: 'JosefinSans-Regular';
}
.texto-tuopinas{
    font-family: 'CourierNewPS-BoldItalicMT';/* CourierNewPS-BoldItalicMT */
    color: #6f859c;
    text-align: center;
}
.efecto-linea{
    display: inline-block;
    position: relative;
}
.efecto-linea::after,.efecto-linea::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 1.5px;
    background-color: black;
    top: 0.5em;
}
.efecto-linea::after{
    left: -32px;
}
.efecto-linea::before{
    right: -32px;
}
.cat_inspirate {
    overflow: hidden;
}
.texto-tuopinas{
    width: 90%;
    font-size: 1.2em;
}
.mail-pc{
    display: block;
}
.carousel-sesnines-rsp1{
    width: 100%;
}
.carousel-sesnines-rsp2{
    width: 0%;
}
.menu-fijo{
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 1000;
}

.margen-personalizado {
    margin-top: 43px;
}

.padding-newsletter{
    padding: 2rem;
    padding-bottom: 0;
}

.navbar-light .navbar-toggler-icon{
    background-image: url("../img/icono-menu-sesnines.svg");
}
.bg-transparencia-blanco{
    background-color: rgba(255, 255, 255, 0.8);
}
.titulo-sesnines{
    border-bottom: 1px solid #000;
    text-align: right;
}
.titulo-sesnines a{
    color: #000;
    text-decoration: none;
}
.titulo-sesnines a:hover{
    text-decoration: none;
}
.texto-sn-qs{
    font-family: 'CourierNew';
}
.texto-persona .nombre{
    border-bottom: 1px solid #000;
}
.lista-persona{
    list-style-type: none;
    padding-inline-start: 1.5em;
}
div.img-persona{
    display: none;
}
/* button#btn-sesnines-menu:focus{
    outline: 0px dotted !important;
    outline: 0px auto -webkit-focus-ring-color !important;
} */

div.img-persona-mvl{
    display: block;
    /* position: absolute; */
    top: 0;
    right: 0;
    max-width: 80px;
}

div.texto-persona h1.nombre{
    margin-bottom: 5rem;
}

.bb-1{
    border-bottom: 1px solid #000;
}

#form-contact{
    max-width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.input-sn {
    border: 1px solid #000;
    border-radius: 0px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.input-checkbox{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.input-sn::placeholder {
    color: #000;
}

form#form-contact div.form-group{
    margin-bottom: 0;
}
.progress-bar.sesnines{
    background-color: #6f859c;
}
.pregunta{
    margin-top: 2.5rem;
}
.pregunta h1{
    font-size: 1.5rem;
    color: #6f859c;
    font-family: 'CourierNewBold';
}
.respuesta-sn{
    min-width: 250px;
    text-align: center;
    max-width: 300px;
}
.silueta-sn{
    min-width: 200px;
    max-width: 200px;
    text-align: center;
}
.pregunta-ns{
    height: 0px;
    overflow: hidden;
    transition: all 2s ease;
}
.pregunta-ns.show{
    height: auto;
    transition: all 2s ease;
}
.btnFormps{
    padding: .25rem 1rem;
    background-color: white;
    color: #6f859c;
    font-family: 'CourierNewBold';
    border: 2px solid #6f859c;
    transition: all .5s ease-out;
    min-width: 120px;
    margin-bottom: .5rem;
}
.btnFormps:hover{
    padding: .25rem 1rem;
    background-color: #6f859c;
    color: #FFF;
    border: 2px solid #6f859c;
    cursor: pointer;
    transition: all .5s ease-out;
}
.redonda{
    height: 32px;
    width: 32px;
    border: 1px solid #6f859c;
    border-radius: 36px;
    padding: .25rem;
    transition: all .5s;
}
.redonda-completa{
    height: 48px!important;
    width: 48px!important;
    border: 1px solid #6f859c;
    border-radius: 4px!important;
    padding: .25rem;
    transition: all .5s;
}
.cuadrado{
    height: 32px;
    width: 32px;
    border: 1px solid #6f859c;
    border-radius: 4px;
    padding: .25rem;
    transition: all .5s;
}
.cuadrado:hover{
    cursor: pointer;
}
.cuadrado.check{
    border: 5px solid #6f859c;
    transition: all .5s;
}
.cuadr-ojos{
    height: 96px;
    width: 96px;
    border: 5px solid white;
    border-radius: 36px;
    padding: .25rem;
    transition: all .5s;
}
.cuadr-ojos:hover{
    cursor: pointer;
}
.cuadr-ojos.check{
    border: 1px solid #6f859c;
    transition: all .5s;
}
.redonda:hover{
    cursor: pointer;
}
.redonda.check{
    border: 5px solid #6f859c;
    transition: all .5s;
}
.redonda.red5.check{
    border: 1px solid #6f859c;
    transition: all .5s;
}
#colorArmario{
    width: 100%;
    max-width: 600px;
    border: 2px solid #6f859c;
    border-radius: 4px;
    height: 128px;
    padding: .5rem;
}
#personaConocida{
    width: 100%;
    max-width: 600px;
    border: 2px solid #6f859c;
    border-radius: 4px;
    height: 128px;
    padding: .5rem;
}
.textareasn{
    width: 100%;
    max-width: 600px;
    border: 2px solid #6f859c;
    border-radius: 4px;
    height: 128px;
    padding: .5rem;
    transition: 1s;
}
.bloque{
    margin: 0 auto;
    max-width: 400px;
}
.inputs input{
    border: 2px solid #6f859c;
    padding: .25rem 1rem;
    color: #6f859c;
    font-size: 1rem;
    font-weight: 300;
}
.inputs input::placeholder{
    font-size: 1rem;
    color: #6f859c;
    font-weight: bold;
}
.inputs input.inp{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: .75rem;
    margin-bottom: .75rem;
    border-radius: 6px;
}
.borde{
    border: 3px solid #6f859c;
    padding: 1rem;
    border-radius: 8px;
    max-width: 100%;
    box-shadow: 0px 2px 13px #676767;
}

.sliderrange {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  .sliderrange:focus {
    outline: none;
  }
  .sliderrange::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    transition: .2s;
    box-shadow: 1px 1px 4px #000000be, 0px 0px 4px #000000be;
    background: #6f859c;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  .sliderrange::-webkit-slider-thumb {
    box-shadow: 1px 1px 4px #000000be, 0px 0px 4px #000000be;
    /* border: 1px solid #000000; */
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  .sliderrange:focus::-webkit-slider-runnable-track {
    background: #6f859c;
  }
  .sliderrange::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    transition: .2s;
    box-shadow: 1px 1px 4px #000000be, 0px 0px 4px #000000be;
    background: #6f859c;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  .sliderrange::-moz-range-thumb {
    box-shadow: 1px 1px 4px #000000be, 0px 0px 4px #000000be;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  .sliderrange::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    transition: .2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  .sliderrange::-ms-fill-lower {
    background: #6f859c;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 4px #000000be, 0px 0px 4px #000000be;
  }
  .sliderrange::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 4px #000000be, 0px 0px 4px #000000be;
  }
  .sliderrange::-ms-thumb {
    box-shadow: 1px 1px 4px #000000be, 0px 0px 4px #000000be;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
.sliderrange:focus::-ms-fill-lower {
    background: #3071a9;
}
.sliderrange:focus::-ms-fill-upper {
    background: #367ebd;
}
.valuerange{
    border: 3px solid #6f859c;
    padding: .5rem;
    border-radius: 4px;
    color: #6f859c;
    font-size: 1.2rem;
}
#tallapecho{
    color: #000;
}
.rosada{
    background-color: #FFEAFB!important;
    /* border-color: #FFEAFB!important; */
}
.beige{
    background-color: #FBEBD0!important;
    /* border-color: #FBEBD0!important; */
}
.dorada{
    background-color: #FFDBBE!important;
    /* border-color: #FFDBBE!important; */
}
.mulata{
    background-color: #D0784F!important;
    /* border-color: #D0784F!important; */
}
.negra{
    background-color: #421914!important;
    /* border-color: #421914!important; */
}
.redonda.red5{
    /* border: 4px solid; */
}
.red5.check+input+p{
    font-weight: bold;
    font-size: 1.1rem;
}
.pregunta h1.ph{
    font-size: 1.1rem;
}
.esconderotros{
    transition: .1s;
    border: 0;
    padding: 0;
    height: 0;
    margin: 0;
}
#menuuser{
    border-top: .0625rem solid rgba(12,15,28,.1);
    border-bottom: .0625rem solid rgba(12,15,28,.1);
}
#menuuser a.active{
    border-color: #44717a;
    color: #44717a;
}
#menuuser a{
    border: 0px;
    border-bottom: .1875rem solid transparent;
    color: rgba(12,15,28,.4);
    display: block;
    font-size: .875rem;
    line-height: 1.5;
    padding: .5625rem 1.5rem .4375rem;
    text-decoration: none;
    transition: border-color .25s,color .25s;
}
#menuuser ul{
    border: 0px;
    display: flex;
    justify-content: center;
}
#ps-menu-p{
    border-radius: 2rem;
    box-shadow: inset 0 0 0 0.0625rem rgba(12,15,28,.1);
    max-width: 640px;
}
.ps-menu{
    border-radius: 2rem;
    color: rgba(12,15,28,.6);
    cursor: pointer;
    display: block;
    font-size: 1rem;
    letter-spacing: .0625rem;
    line-height: 1.5;
    padding: 1.25rem 1.5rem;
    text-align: center;
    transition: background-color .25s;
    user-select: none;
    max-width: 128px;
    min-width: 128px;
}
.img-pedido-ps {
    max-width: 64px;
    height: 64px;
    cursor: pointer;
}
.bordertrans{
    border: 1px solid transparent;
}
.img-max-modal{
    width: 100%;
    max-width: 600px;
    height: auto;
}
.title-menuuser{
    color: rgba(12,15,28,.4);
    display: block;
    font-size: 1.75rem;
    line-height: 1.5;
    min-height: 1.5rem;
    position: relative;
    transition: color .25s;
}
.ps-menu.check{
    background: rgba(127,182,200,.3);
    color: rgba(12,15,28,.6);
    border: 0;
}
#pedidofecha{
    max-width: 15em;
    color: #404040;
    min-width: 15em;
    background: #fff;
    padding: 8px;
    border: 1px solid #f0f3f4;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0,.075);
}
#pedidofecha .ui-datepicker-next{
    margin-left: auto;
}
#pedidofecha .ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all{
    display: flex;
    flex-wrap: wrap;
}
#pedidofecha .ui-datepicker-title{
    min-width: 100%;
    text-align: center;
    margin-top: -19px;
}
#pedidofecha .ui-datepicker-calendar{
    width: 100%;
}
#pedidofecha .ui-state-default{
    color: #404040;
    text-shadow: 0 1px 0 hsla(0,0%,100%,.9);
}
#pedidofecha td {
    text-align: right;
    border: 1px solid;
}
#pedidofecha td.ui-datepicker-today a{
    color: white;
}
#pedidofecha td.ui-datepicker-today a{
    color: #404040;
    text-shadow: 0 1px 0 hsla(0,0%,100%,.9);
}
#pedidofecha .ui-datepicker-current-day{
    background-color: #404040;
    /* padding: .2rem; */
    border-radius: 3px;
    color: white!important;
}
#pedidofecha .ui-datepicker-unselectable.ui-state-disabled{
    background-color: #cccccc;
}
#pedidofecha .ui-datepicker-unselectable.ui-state-disabled span.ui-state-default{
    /* color: white; */
}
#pedidofecha .ui-datepicker-other-month{
    background-color: white!important;
}
#pedidofecha .ui-state-default.ui-state-active{
    color: white;
}
#pedidofecha td{
    text-align: right;
}
#mensajeps{
    padding: 1rem;
}
#micuenta .card{
    border: 0;
}
#micuenta .collapse,#micuenta .collapsing{
    /* background-color: #eaeaea; */
    background-color: white;
}
#micuenta .card-header{
    background-color: transparent;
}
#micuenta .btnsnac{
    color: rgba(12,15,28,.6);
    cursor: pointer;
    display: block;
    text-decoration: none;
    transition: color .25s;
    padding: .75rem 1.25rem;
    text-align: left;
    font-size: 1.25rem;
}
#micuenta input.frm{
    font-size: 1.25rem;
}
#micuenta .btnsnac:hover{
    color: rgba(12,15,28,1);
}
.sortsn{
    position: absolute;
    right: 1rem;
    /* top: calc(50% - 4px); */
    top: 21px;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, .3);
}
#micuenta .card:hover .sortsn{
    cursor: pointer;
    color: rgba(0, 0, 0, .5);
}
.btnsn{
    background-color: rgba(237, 115, 115, 0.4)!important;
    color: white;
    font-weight: 400;
}
.btnsn:hover{
    background-color: rgba(237, 115, 115, 0.6)!important;
}
.modallogin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 100%;
    max-width: 550px;
    box-shadow: 0px 0px 12px rgba(0,0,0,.25);
    border-radius: 4px;
    padding: 1.5rem 2.5rem;
    box-sizing: border-box;
}
.frmlogin{
    width: 100%;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.frmlogin .titulo{
    font-size: 2rem;
    text-align: center;
    line-height: 1;
    font-family: 'JosefinSans-Light';
}
.body .form-group label{
    font-size: 1.3rem;
}
.body .form-group .frmlogin{
    padding: .5rem;
    font-size: 1.5rem;
}
.btnenviar{
    max-width: 600px;
}
td.ui-datepicker-unselectable.ui-state-disabled.highlight *{
    background: red !important;
  }

.carousel-personalizado{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    /* background-color: red; */
    white-space: nowrap;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.consejos{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    /* background-color: red; */
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.carousel-personalizado .consejo{
    display: inline-block;
    width: 100%;
}
.consejo{
    min-height: 250px;
    transition: all 1.5s;
    /* background-color: aqua; */
}
.consejo .texto p{
    max-width: 400px;
    margin: 0 auto;
    white-space: normal;
}
.consejo .texto{
    width: 50%;
    /* background-color: blue; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: normal;
}
.consejo .imagen{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.consejo .imagen img{
    max-width: 100%;
    height: auto;
}
.carousel-personalizado .botones{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0%);
    /* background-color: aqua; */
}
.consejo-responsive{
    display: flex;
    background-color: rgb(241, 202, 202);
}
.btnSlider{
    background-color: transparent;
    border: 1px solid #6f859c;
    border-radius: 36px;
    width: 32px;
    height: 32px;
    outline: 0!important;
    cursor: pointer;
}
.btnSlider.bg-rosa{
    background-color: #6f859c;
}
.img-ps-select{
    border-radius: 50%;
    max-width: 400px;
}

@media only screen and (max-width: 576px){
    .lin-movil-rsp{
        display: flex;
    }
    .blq_centrado{
        display: none;
    }
}

@media (max-width: 376px) {
    .titulo-sn-exp{
        text-align: right;
    }
    ol.carousel-indicators{
        display: none;
    }
    .padding-newsletter{
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        /* padding: 2rem !important; */
        padding-bottom: 0;
    }
    .img.logo-rs{
        height: 24px !important;
    }
    .h3-enlace{
        font-size: 1rem;
    }
    .modallogin{
        padding: 1.5rem 1rem;
    }
    .frmlogin .titulo{
        font-size: 1.5rem;
    }
    
   
}

@media (min-width: 377px) {
    .h3-enlace{
        font-size: 1.25rem;
    }
}

@media (min-width: 576px) {
    div.blq_3 .blq_exp_ps h5.titulo{
        font-size: 1rem;
    }
    div.blq_3 .blq_exp_ps p.texto{
        font-size: .9rem;
    }
    .carousel-sesnines-rsp1{
        width: 40%;
    }
    .carousel-sesnines-rsp2{
        width: 60%;
    }
    .texto-slider{
        font-size: .8rem;
    }
    .texto-tuopinas{
        width: 90%;
        font-size: 1.2em;
    }
    /* .menu-sesnines-footer.centro{
        display: none !important;
    } */
    img.logo-rs{
        height: 16px;
    }
}

@media (max-width: 1024px){
    .consejo{
        min-height: 360px;
    }
    .consejo .texto{
        width: 100%;
        height: 30vh;

    }
    .consejo .imagen{
        width: 100%;
    }
    .consejo-responsive{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .carousel-personalizado .botones{
        bottom: -50px;
    }
}

@media (min-width: 768px) {
    div.blq_1 .blq_2 p {
        font-size: .8rem;
    }
    .logo-sesnines {
        max-width: none;
    }
    .texto-tuopinas{
        width: 70%;
        font-size: 1.3em;
    }
    .texto-slider{
        font-size: 0.7rem;
    }
    .padding-newsletter{
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        /* padding: 2rem !important; */
        padding-bottom: 0;
    }
    div.img-persona{
        display: block;
    }
    div.texto-persona h1.nombre{
        margin-bottom: 0.5rem;
    }
    div.img-persona-mvl{
        display: none;
    }
    /* .menu-sesnines-footer.centro{
        display: block !important;
    } */
}

@media (min-width: 992px) {
    div.blq_1 .blq_2 p {
        font-size: .9rem;
    }
    .texto-slider{
        font-size: 0.9rem;
    }
    
    /* .texto-tuopinas{
        width: 70%;
        font-size: 1.3em;
    } */
    .h3-enlace{
        font-size: 0.8rem;
    }
    .margen-personalizado {
        margin-top: 0px;
    }
    .padding-newsletter{
        padding: 3rem;
    }
}

@media (max-width: 991.98px) {
    #menu-top .menu-mbl-sesnines{
        text-align: right;
        color: #000;
        font-family: 'JosefinSans-Light';
        font-size: 1.2rem;
        margin-right: 1rem;
    }
}

@media (min-width: 1200px) {
    .h3-enlace{
        font-size: 1rem;
    }
    .mail-pc{
        display: flex;
    }
    .padding-newsletter{
        padding: 3rem;
    }
}